@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
$oswald: 'Oswald', sans-serif;

.gameScore {
    display: flex;
    justify-content: space-around;
}

.gameCard {
    display: inline-block;
    width: 350px;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 0 2px 20px 0 #FBD786;
    background: white;
    font-family: $oswald;
    cursor: pointer;
    margin: 0 2%;
}

.gameCardContainer {
    position: relative;
    overflow-x: scroll;
    width: 100%;
    margin: 5% 0 2% 0;
    height: 350px;
    white-space: nowrap;
}

.gameCardContainer::-webkit-scrollbar {
    padding: 2px 0;
    background-color: transparent;
}

.gameCardContainer::-webkit-scrollbar-thumb {
    background: darken(#f7797d, 10%);
    box-shadow: inset 0 0 5px lighten(#f7797d, 10%); 
    border-radius: 10px;
}
  

.teamImages {
    display: flex;
    img {
        user-drag: none; 
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
}

.homeContainer {
}

h1 {
    font-family: $oswald;
    color: white;
}

.nextBtn, .prevBtn {
    background: none;
    border: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    font-family: $oswald;
    &:focus {
        outline: none;
    }
}

.nextBtn {
    color: #f7797d;
}

.prevBtn {
    color:  #C6FFDD;
}

.active {
    cursor: grabbing;
}